*{
	box-sizing: border-box;
	margin: 0;


}

@media (min-width: 992px){

	.dp{
		position: relative;
		width: 33.33%;
		float: left;

	
	}


}

@media (min-width: 768px) and (max-width: 991px){

	.tab{
		position: relative;
		width: 50%;
		float: left;
	
	}

	.tab-1{
		position: relative;
		width: 100%;
		float: left;

	}
}

@media (max-width: 767px){

	.mob{
		position: relative;
		width: 100%;
		float: left;
		
	}
}


h1{

	font-size: 50px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 105px;

}

.heightp{
	height: 150px;
}

p{

	text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
	margin-right: 7.5px;
	margin-left: 7.5px;
	background-color: #D5D8DC;
	border: 1px solid black;
	
	padding: 40px 10px 5px 10px;
	background-color: #D5D8DC;
	overflow: hidden;


	
	
}



.row{

	width: 100%;
	
}


.item-1{

	text-align: center;
	padding-top: 0;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 10px;
	width: 15%;
	background-color: #633974;
	color: white;
	position: absolute;
	top: 0;
	right: 0;



}

.item-2{

	text-align: center;
	padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 8px;
	width: 15%;
	background-color: red;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	



}

.item-3{

	color: black;
	background-color: #117864;

	text-align: center;
	padding-top: 0;
    padding-bottom: 5px;
    padding-left: 8px;
	width: 15%;
	
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 8px;




}